body{
    margin: 0;
  }
  #menu{
     float: right;
     font-size: 17px;
     margin-top: 10px;
   
  }
  
  #text1{
    color:#535B6D;
  }
  
  #text1:hover{
    color:#D54058;
  }
  
  #menu > ul > li {
      position: relative;
      float:right;
      padding: 0 10px;
      list-style: none;
      
  
    }
    #menu > ul > li + li:after {
      content: "";
      background: #ccc;
      position: absolute;
      bottom: 25%;
      left: 0;
      height: 50%;
      width: 1px;
    }
  
  
  .img1{
      width: 200px;
  }
  
  .logo{
    width: 150px;
  }

  .display{
    margin-right: 12px;
    list-style: none;
    color: #b2b3b6;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    letter-spacing: -1px;
    
    
  }
  .display li :hover{
    color: #c8435a;
   
  }
  .display li{
    margin-top: 10px;
  }
  .display li a{
    color: #a8a8a8;
  }
  .container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px; 
    margin-right: auto;
    margin-left: auto;
  }
  .mobinav{
    border-bottom: 1px solid #dfdfdf;
    height: 100px;
  }
  
  .brand2{
    border-bottom: 1px solid #dfdfdf;
  
  }
  
  .main{
    background-image: url(https://static.momspresso.com/parenting-images/advertise/header_bg.jpg);
    width: 100%;
    background-repeat: no-repeat;
    height: 600px;
    background-size: 100%;
  }
  
  .text{
    padding-top: 180px;
    
  }
  
  .text h1{
    font-size: 45px;
    font-weight: bolder;
    margin-bottom: 15px;
    color: #535B6D;
  }