body{
  margin: 0;
  }
  
#menu{
  float: right;
  font-size: 17px;
  margin-top: 10px;
   
}
  
#text1{
  color:#535B6D;
}
  
#text1:hover{
  color:#D54058;
}
  
#menu > ul > li {
  position: relative;
  float:right;
  padding: 0 10px;
      list-style: none;
      
}
    
#menu > ul > li + li:after {
  content: "";
  background: #ccc;
  position: absolute;
  bottom: 25%;
  left: 0;
  height: 50%;
  width: 1px;
}
  
  
.img1{
  width: 200px;
}
  
.logo{
  width: 150px;
}

.display{
  margin-right: 12px;
  list-style: none;
  color: #b2b3b6;
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
  letter-spacing: -1px;
}

.display li :hover{
  color: #c8435a;
}
  
.display li{
  margin-top: 10px;
}
  
.display li a{
  color: #a8a8a8;
}
  
.container{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px; 
  margin-right: auto;
  margin-left: auto;
}
  
.mobinav{
  border-bottom: 1px solid #dfdfdf;
  height: 100px;
}
  
.brand2{
  border-bottom: 1px solid #dfdfdf;
  
}
  
.main{
  background-image: url(https://static.momspresso.com/parenting-images/advertise/header_bg.jpg);
  width: 100%;
  background-repeat: no-repeat;
  height: 600px;
  background-size: 100%;
}
  
.text{
  padding-top: 180px;
    
}
  
.text h1{
  font-size: 45px;
  font-weight: bolder;
  margin-bottom: 15px;
  color: #535B6D;
}

.text h6{
  letter-spacing: 1.5px;
  color: #8a8a8a;
  margin-bottom: 20px;
}
  
  
.text button{
  background-color: #D54058;
  padding: 10px 30px;
  border-radius: 100px;
  border: none;
  color: white;
}
  
  
.about p{
  padding-top: 10px;
  font-size: 20px;
  padding-top: 10px;
  color: #5a5a5a;
  font-family: 'Times New Roman', Times, serif;
}
  
.important{
  font-family: 'Times New Roman', Times, serif;
  color: #535B6D;
}
  
.hr{
  background-color: #c8435a;
  height: 5px;
  width: 80px;
  border: 0;
  
}
  
.section{
  margin-top: 20px;
}
  
.box{
  height: 50px;
  width: 50px;
  background-color: #F1992C;
  color: white;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  float: left;
  text-align: center;
  padding-top: 10px;
  margin-right: 10px;
}

span{
  font-size: 13px;
}

.title{
  color: #5a5a5a;
  padding-top: 15px;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}

.txt{
  color: #7c7c7c;
  font-size: 13px;
  padding-top: 10px;
  margin-bottom: 20px;
}

.pink{
  background-color: #F24C7B;
  
}
.purple{
  background-color: #734BEC;
  
}
.blue{
  background-color: #50E3C2;
  
}

.brand-solutions{
  width: 100%;
  display: inline-block;
  margin-top: 25px;
  cursor: pointer;
  
}

.mobibrand{
  width: 100%;
  display: inline-block;
  margin-top: 25px;
  cursor: pointer;
}

.mobiright{
  width: 200px;
  float: left;
}
.left{
  width: 200px;
  float: left;
}

.img2{
  width: 200px;
  height: 200px;
  overflow: hidden;
  display: block;
  position: relative;
  padding: 0;
}

.img2 > .top {
  position: absolute;
  height: 100%;
  width: 100%;
  position: relative;
  float: left;
  background: url(https://static.momspresso.com/parenting-images/advertise/Momspresso-Studio.jpg?tr=w-400) top center no-repeat;
  transition: all 3s;
  
}

.img2:hover > .top {
  transform: scale(1.2,1.2); 
     
}
.img2:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);   
}

.img3{
  width: 200px;
  height: 350px;
  position: relative;
  overflow: hidden;
  display: block;
  margin-top: 25px;
}

.img3 >.top1{
  width: 200px;
  height: 350px;
  position: relative;
  float: left;
  background: url(https://static.momspresso.com/parenting-images/advertise/Research-insights-Momspresso-advertise.jpg?tr=h-350) top center no-repeat;
  transition: all 3s;
  
}

.img3:hover > .top1 {
  transform: scale(1.2,1.2); 
     
}
.img3:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);   

}

.middle{
  width: 200px;
  float: left;
}
.img4{
  width: 210px;
  height: 150px;
  overflow: hidden;
  display: block;
  margin-left: 25px;
  float: left;
}

